*, *::before, *::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    scroll-behavior: smooth; /* Плавний скролл по лінках лендингу */
}

body {
    font-family: "Lora", serif;
    background-color: #FDFBF7; /* Колір англійської порцеляни */
    color: #2C2C2C;
    line-height: 1.6;
}

img {
    max-width: 100%;
    height: auto;
    display: block;
}

a {
    text-decoration: none;
    color: inherit;
}

ul, ol {
    list-style: none;
}

button {
    background: none;
    border: none;
    font: inherit;
    cursor: pointer;
}